svg {
 /* background: #FFB6C1;*/
 border-bottom: 1px solid #ddd;
}

.node rect {
  cursor: move;
  fill-opacity: 1;
  shape-rendering: crispEdges;
}

.node text {
  cursor: move;
}

.link {
  fill: none;
  stroke: #ccc;
  /*stroke-opacity: 1;*/
}

.link:hover {
  stroke: #FF5252;
  stroke-opacity: .8;
}

.word {
  font-size: .75em;
  /*font-weight: 600;*/
}
