svg {
 /* background: #FFB6C1;*/
 border-bottom: 1px solid #ddd;
}

.node {
  cursor: pointer;
}

.node rect {
  cursor: move;
  fill-opacity: 1;
  shape-rendering: crispEdges;
}

.node text {
  cursor: move;
}

.link {
  fill: none;
  stroke: #ccc;
  /*stroke-opacity: 1;*/
  cursor: pointer;
}

.link:hover {
  stroke: #FF5252;
  stroke-opacity: .8;
}

.word {
  font-size: .75em;
  /*font-weight: 600;*/
}


.edge-selected {
  stroke: #444 !important;
}

.node-selected circle.circle-shape {
  fill:  #444 !important;
  stroke: black !important;
  stroke-width: 2px !important;
  opacity: 0.75 !important;
}

.node-selected text.word {
  color: black !important;
  font-weight: bold !important;
}
