/* Bootstrap OVERRIDE */

.navbar-default .navbar-nav>li>a {
	margin-bottom: 0;
	color: #fff;
	margin: 0 5px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav> .active > a:hover, .navbar-default .navbar-nav> .active > a:focus, .navbar-default .navbar-nav> li > a:hover, .navbar-default .navbar-nav> li > a:focus{
	background: transparent;
	color: #fff;
	border-bottom: 4px solid #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar {
	margin-bottom: 0;
	background: transparent;
	border: none;
}

/* general */

body {
	padding-bottom: 75px;
}

/* figures */

figure {
    margin: 5rem 0;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd
}

figcaption {
	font-style: italic;
	color: 000;
}

/* Homepage */
.welcome {
	text-align: center;
	font-weight: normal;
	color: #000;
	font-size: 1.35em;
	/*border-bottom: 1px solid #999;*/
}

.welcome-sub {
	text-align: center;
	margin-bottom: 70px;
}

.text-name-home {
	font-weight: normal;
}

.text-view {
	text-align: right;
}

/*** Checkboxes ***/
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 10px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #c6c6c6;
  border-radius: 0;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer
}
.checkbox input[type="checkbox"]:checked + label::after {
	content: "\2713";
  padding:1px 0 0 4px;
}
.checkbox input[type="checkbox"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-witness input[type="checkbox"]:checked + label::before {
  background-color: #16D5A7;
  border-color: #16D5A7;
}
.checkbox-witness input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-witness input[type="checkbox"]:indeterminate + label::before {
  background-color: #16D5A7;
  border-color: #16D5A7;
}

.checkbox-witness input[type="checkbox"]:indeterminate + label::after {
  background-color: #fff;
}

input[type="checkbox"].styled:checked + label:after {
  content: "\2713";
  padding:1px 0 0 4px;
}
input[type="checkbox"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after {
  color: #fff;
}

/* switches */

.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.toggle + label {
  display: block;
  position: relative;
	float: left;
  cursor: pointer;
  outline: none;
  user-select: none;
	width: 40px;
  height: 11px;
	margin-top: 5px;
}

input.toggle + label:before,
input.toggle + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
	border-radius: 60px;
}
input.toggle + label:before {
  right: 1px;
  background-color: #ddd;
  transition: background 0.4s;
}
input.toggle + label:after {
  width: 16px;
	height: 16px;
  background-color: #c6c6c6;
  border-radius: 100%;
  transition: margin 0.4s;
	margin-top: -3px;
}
input.toggle:checked + label:before {
  background-color: #a1eedb;
}
input.toggle:checked + label:after {
  margin-left: 25px;
	background-color: #16D5A7;
}

/* Hi-style */

body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #666;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Secular One";
    font-weight: 500;
    line-height: 1.1;
    color: #000;
}

.glyphicon-menu-hamburger {
	font-size: 22px;
}

.glyphicon-menu-hamburger:hover {
	color: #16D5A7;
	cursor: pointer;
}

.text-header {
	margin-bottom: 45px;
	margin-top: -20px;
}

.text-header h1 {
	font-size: 30px;
	margin-left: .5em;
	display: inline;
}


/*left-pane */
#left-pane {
	padding-right: 75px;
}

/* facets */

.btn-facet-collapse {
  display: inline-block;
  margin-top: 18px;
}

.facet h2 {
  display: inline-block;
}

.btn-facet-collapse, .btn-collapse-left-pane {
  background: transparent;
  border: none;
  color: #aaa;
}

.btn-facet-collapse {
  font-size:12px;
}

.btn-facet-collapse:focus, .btn-facet-collapse:active, .btn-collapse-left-pane:focus, .btn-collapse-left-pane:active {
   outline: none;
}

.facet-item-color {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-top: 6px;
    margin-right: .5em;
}

.facet-items-box {
	border: none;
}

.facet-item-color-grey {
	background: #ededed
}

.facet-item-color-red {
	background: #FB3942;
}


.facet-item-color-yellow {
	background: #FECF09;
}

.facet-item-color-neon-green {
	background: #27E8A7;
}

/* graph controls */

.graph-controls {
	border-top:1px solid #eeeeee;
	padding-top:.7em;
}

.graph-control {
	margin-top: 10px;
	width: 100%;
	display: block;
	float: left;
}

.graph-control-label {
	font-size: 14px;
	width: 45%;
	float:left;
}
/* slider */

.rc-slider {
	width: 40%;
	float: left;
	margin-top: 3px
}

.rc-slider-step {
	height: 1px !important;
	background-color: #ddd;
}

.rc-slider-track {
	background-color: #8aead3;
}

.rc-slider-handle {
	border: solid 2px #16D5A7;
	background-color: #16D5A7;
	width: 15px;
	height: 15px;
	margin-top: -5px;
}

.slider-value {
	font-size: 14px;
	width: 10%;
	margin-left: 5%;
	float: right;
	font-weight: 500;
}

/* search */

.search {
	border: none;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
	padding-left:0;
	border-radius: 0;
	font-size: 16px;
}

.form-control:hover,
.form-control:focus{
	border-bottom: 2px solid #16D5A7;
	border-color: #16D5A7;
	-webkit-box-shadow: none;
}

.btn-search, .btn-search:focus, .btn-search:active {
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
}

.btn-search:hover{
	background-color: #fff;
	-webkit-box-shadow: none;
}

.btn-search > .glyphicon {
	color: #999;
}

.btn-search:hover > .glyphicon {
	color: #16D5A7;
}

.search-results-header {
	font-size: 16px;
	margin: 15px 0;
}


.search-results {
	font-size: 16px;
	list-style: none;
  padding:0;
  margin:0;
}

.search-results li {
	padding-left: .5em;
  text-indent: -.5em;
}

.search-results li:before {
	content: "•";
	padding-right: .5em;
	color: #999;
}

.search-results a {
	font-weight: 400;
	color: #16D5A7;
}


/* chart-area */

#chart-area {
	margin-bottom: 40px;
	cursor: move;
}

/* Witness text area */

.witness-name {
	/*font-weight: 500;*/
	font-family: "Secular One";

}

.pos-viewed-in-text {
	/*background-color: #ececec;*/
	background-color: transparent;
	color: #000;
	font-weight: 400;
}

.witness-text {
	margin: 0;
	padding: 0;
	color: #777;
	margin-bottom: 25px
}
/* Search results */

.search-word {
	font-weight: 400;
}

.search:focus {
  font-weight: 500;
	color: #000;
}

.search:focus::-webkit-input-placeholder {
	color: transparent;
}

/* popover */

.popover {
	background-color: #f6f6f6;
	 min-width: 300px;
}

.popover.top > .arrow:after {
  border-top-color: #f6f6f6;
}

.popover-content {
    padding: 20px 15px;
    font-weight: 300;
}

.popover-element {
	font-weight: 400;
	font-size: 1.3em;
	margin-bottom: 10px;
	display: block;
}

.container { width: 1400px; }
